@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1472794157'); /* IE9*/
  src: url('../font/iconfont.eot?t=1472794157#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1472794157') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1472794157') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1472794157#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yemianzuoshangjiaocaidanbiao:before { 
	content: "\e651"; 
	font-weight: 700;
	margin-left: -40px;
	color:#333;
	}
.icon-hot:before { 
	content: "\e628"; 
	font-size:32px;
	color:#f00;
	position:absolute;right:20px;top:-10px;
	}
.icon-hot1:before { 
	content: "\e641"; 
	font-size:36px;
	}
.icon-dingshifasong:before { 
	content: "\e701";
	color:#5EC3DF;
	margin-right:10px ;
	}
.icon-tubiao:before { 
	content: "\e603"; 
	color:#FFF100;
	margin-right:10px ;
	}
.icon-nvzhuang:before { 
	content: "\e6b8"; 
	color:#5EC3DF;
	margin-right:10px ;
	}
.icon-icon:before { 
	content: "\e61c"; 
	color:#FFF100;
	margin-right:10px ;
	}
.icon-peishi:before { 
	content: "\e679"; 
	color:#FFF100;
	margin-right:10px ;
	}
.icon-xuexi:before { 
	content: "\e675"; 
	color:#5EC3DF;
	margin-right:10px ;
	}
.icon-wanjuxian:before { 
	content: "\e660";
	color:#FFF100;
	margin-right:10px ;
	}
.icon-xie:before { 
	content: "\346d";
	color:#5EC3DF;
	margin-right:10px ;
	 }
.icon-gouwuche:before { 
	content: "\e62d"; 
	font-size: 34px;
	color:#343434;
	z-index:999;
	}
